.message-list-container {
  background-color: var(--background-light);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  max-width: var(--content-width);
  margin: 2rem auto;
}

li {
  background-color: var(--tertiary-color);
  border-radius: 8px;
  padding: 0.5rem 2rem;
}

.message-text {
  font-weight: bold;
  font-size: medium;
}

.message-from {
  font-style: italic;
  font-size: small;
  text-align: end;
}